* {
	box-sizing: border-box;
}

body {
	background-color: #070707;
}

section {
	margin-top: 60px;
}

p {
	text-align: center;
}

tab {
	margin-left: 200px;
}

h2 {
	text-shadow: 1px 1px white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.section-title {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: underline;
	color: #9f9f9f;
	text-align: middle;
}

.section-title2 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	color: #9f9f9f;
	font-size: 25px;
}

.section-title3 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	color: #9f9f9f;
	text-align: left;
}
.section-title4 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	color: #9f9f9f;
	text-align: middle;
}
.section-title5 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: underline;
	color: #97f4fc;
	text-align: middle;
}
.header {
	text-align: center;
	padding: 32px;
}

.row {
	display: -ms-flexbox;
	/* IE10 */
	display: flex;
	-ms-flex-wrap: wrap;
	/* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

.ind {
    padding-left: 200px;
	padding-right: 140px;
}

.ind2 {
    padding-left: 10%;
	padding-right: 10%;
}
.ind3 {
    text-align: center;
	padding: 32px;
}
.ind4 {
    margin: auto;
	width: 50%;
	
}
.ind5 {
    padding-left: 16%;
	padding-right: 0%;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
}

.fixed {
	position: fixed;
	top: -10px;
}

div.gallery {
    border: 1px solid #191919;
	
}

div.gallery:hover {
    border: 1px solid #4D4D4D;
	
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.bg {
    background-image: url("paper.gif");
    background-repeat: repeat-y;
}

div.desc {
    padding: 7px;
    text-align: center;
	color: #696969;
	font-family: 'IBM Plex Mono', monospace;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 3px 3px;
    float: left;
    width: 24.99999%;
	
}

@media only screen and (max-width: 1650px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
	margin: auto;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	margin: auto;
}

