* {
	box-sizing: border-box;
}

body {
	background-color: #070707;
}
div.bgbg {
    background-color: lightblue;
}
section {
	margin-top: 30px;
}

p {
	text-align: center;
}

tab {
	margin-left: 200px;
}

h2 {
	
}

img, video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
img:hover {
  
    
    }
	
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.section-title {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: underline;
	color: #9f9f9f;
	text-align: middle;
}

.section-title2 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	color: #9f9f9f;
	font-size: 25px;
	
}

.section-title3 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	color: #9f9f9f;
	text-align: left;
}
.section-title4 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	color: #9f9f9f;
	text-align: middle;
}
.section-title5 {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: underline;
	color: #97f4fc;
	text-align: middle;
}
.header {
	text-align: center;
	padding: 32px;
}

.row {
	display: -ms-flexbox;
	/* IE10 */
	display: flex;
	-ms-flex-wrap: wrap;
	/* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

.ind {
    padding-left: 300px;
	padding-right: 140px;
	
}

.ind2 {
	
    padding-left: 10%;
	padding-right: 10%;
}
.ind3 {
    text-align: center;
	padding: 32px;
}
.ind4 {
    margin: auto;
	width: 50%;
	
}
.ind5 {
    padding-left: 16%;
	padding-right: 0%;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
}

.fixed {
	position: fixed;
	top: -10px;
	left: 20px;
}

.vidyo {
	position: absolute;

	align-items: center;
}

div.gallery {
    border: 1px solid #000000;
	 /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: b; /* IE5+ */
      -webkit-transition: all .4s linear;  
	  -webkit-filter: brightness(100%)
	  
	
	
}

div.gallery2 {
    border: 0px solid #000000;
	 /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: b; /* IE5+ */
      -webkit-transition: all .4s linear;  
	  -webkit-filter: brightness(100%)
	  
	
	
}

div.gallery:hover {
    border: 1px solid #3f3f3f;
	  filter: none;
	  -webkit-filter: brightness(75%)
    
	
}

div.gallery img {
    width: 100%;
    height: auto;
	padding-right: 1px;
	padding-bottom: 8px;
}



div.bg {
    background-image: url("paper.gif");
    background-repeat: repeat-y;
}

div.desc {
    padding: 1px;
	padding-bottom: 20px;
    text-align: center;
	color: #8E8E8E;
	font-family: 'IBM Plex Mono', monospace;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 5px 5px;
    float: left;
    width: 24.99999%;
	margin-left: auto;
  margin-right: auto;
	
}

.responsive2 {
    padding: 15px 55px;
    float: left;
    width: 50%;
	
}

@media only screen and (max-width: 1650px) {
    .responsive, responsive2 {
        width: 49.99999%;
        margin: 3px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive, responsive2 {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.videoWrapper {
	position: relative;
	padding-bottom: auto; /* 16:9 */
	padding-top: 0px;
	height: 0;
	margin: auto;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	margin: auto;
}


* {
cursor:url(cursor.png), auto;
}

img:hover {
cursor:url(cursor2.png), auto;
}


.column {
	
  float: middle;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
	
  content: "";
  clear: both;
  display: table;
}

function playAudio(url) {
  new Audio(url).play();
}

